html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 130px;
    height: 100%;
    overflow: hidden;
    outline-width: 0px;
}

*:focus {
    outline: none !important;
}

.container {
    width: 100%;
    min-width: 130px;
    height: 100%;
    top: 0px;
    right: 0px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}

.bg {
    position: absolute;
    background: url(bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

.logo {
    background: url(logo.png) 50% 50% no-repeat;
    background-size: contain;
    width: 48%;
    height: 20%;
    top: 4.9%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.background-slide-text {
    background: url(background-slider-text.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    height: 26%;
    top: 23%;
    bottom: 0;
    position: absolute;
    margin: auto;
    z-index: 1100;
}

.slider__inner {
    background: url(background-slider.png) 50% 50% no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 35vh;
    position: absolute;
    bottom: 13%;
    top: 0;
    margin: auto;
}

.slick-list{
    height: 100%;
}

.slick-track{
    height: 100%;
}

.slide{
    display: flex !important;
}

.flower1{
    background: url(slide1/flower1.png) 50% 50% no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: flower;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes flower{
    0%{
        transform: scale(1) translateX(0px);
    }
    50%{
        transform: scale(1.05) translateX(10px);
    }
    100%{
        transform: scale(1) translateX(0px);
    }
}

.textFlower1{
    background: url(slide1/textFlower1.png) 50% 50% no-repeat;
    background-size: contain;
    width: 50%;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flower2{
    background: url(slide1/flower2.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: flower;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.textFlower2{
    background: url(slide1/textFlower2.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30%;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flower3 {
    background: url(slide1/flower3.png) 50% 50% no-repeat;
    background-size: contain;
    width: 54%;
    height: 51%;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: flower;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.textFlower3{
    background: url(slide1/textFlower3.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30%;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flower4 {
    background: url(slide1/flower4.png) 50% 50% no-repeat;
    background-size: contain;
    width: 60%;
    height: 70%;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: flower;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.textFlower4{
    background: url(slide1/textFlower4.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30%;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flower5 {
    background: url(slide1/flower5.png) 0% 50% no-repeat;
    background-size: contain;
    width: 61%;
    height: 78%;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 0;
    animation-name: flower;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.textFlower5{
    background: url(slide1/textFlower5.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30%;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.flower6{
    background: url(slide1/flower6.png) 50% 50% no-repeat;
    background-size: contain;
    width: 50%;
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation-name: flower;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.textFlower6{
    background: url(slide1/textFlower6.png) 50% 50% no-repeat;
    background-size: contain;
    width: 30%;
    height: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

video{
    width: 97vw;
    max-width: 480px;
}

.video {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 13%;
    margin: auto;
    z-index: 2;
}

.btn{
    background: url(btn.png) 50% 50% no-repeat;
    background-size: contain;
    width: 49%;
    height: 30%;
    bottom: 7.5%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.text{
    background: url(text1.png) 50% 50% no-repeat;
    background-size: contain;
    width: 20%;
    height: 30%;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

#hellopreloader>p{
    display:none;
}

#hellopreloader_preload{
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222222 url(audio.svg) center center no-repeat;
    background-size:41px;
}