/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Header
# Article
# Footer
# index.php
# admin.php
# Ads
--------------------------------------------------------------*/


/* Typographie
--------------------------------------------- */

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

p {
    color: #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #111;
}

h2 {
    font-size: 1.65rem;
    line-height: 2.175rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.025rem;
    color: #333;
    font-weight: bold;
}

h4 {
    line-height: 18px;
    font-weight: bold;
    font-size: 15px;
    color: #D70D12;
    margin-top: 12px;
    text-transform: uppercase;
}

.material-icons {
    vertical-align: bottom;
    line-height: inherit;
    font-size: inherit;
}

/* Header
--------------------------------------------- */

#upperheader {
    background-color: #c0392b;
    color: #fff;
    padding: 15px 0;
}

#upperheader h2 {
    color: #fff;
}

#subheader {
    background-color: rgba(232,232,232,1);
    border-bottom: 0.0625rem solid rgba(204,204,204,1);
    margin: 0 0 .5rem;
    padding: 10px 0;
    font-size: 12px;
}

.logo a, .logo img {
    display: block;
    width: 100%;
}

/* #preHeader
--------------------------------------------- */

#preHeader {
    margin: 20px 0;
}

.newsticker-square {
    background-color: #156fbc;
    width: 85px;
    height: 85px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.newsticker-square .ic_24 {
    font-size: 26px;
    display: block;
}

.newsticker-square .ic_news {
    text-transform: uppercase;
    font-size: 11px;
    display: block;
}

.newsticker-content p {
    font-size: .875rem;
    margin-bottom: 0;
}

.newsticker .row, .weather .row {
    border-bottom: .125rem solid #e0e0e0;
    min-height: 135px;
    margin: 10px 0 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.weather-icon {
    display: block;
    margin: 0 auto;
}

/* Footer
--------------------------------------------- */

.footer-wrapper {
    background: #F5F5F6;
    padding: 30px 0;
}

.topfooter {
    padding-bottom: 30px;
}

.breadcrumbs {
    border-left: .375rem solid rgba(213,0,6,1);
    padding: .475rem .875rem;
    margin-bottom: 20px;
    background-color: #f3f3f3;
}

/* index.php
--------------------------------------------- */

article {
    padding-bottom: 15px;
    border-bottom: .125rem solid #e0e0e0;
    margin-bottom: 40px;
}

.entry-image {
    max-height: 450px;
    overflow: hidden;
}

.article-small .entry-image {
    max-height: 200px;
}

.entry-footer {
    color: #666;
}

.introArticle img {
    object-fit: cover;
    width: 100%;
}

#pictureOfTheDay {
    min-height: 400px;
    margin-bottom: 50px;
    text-align: center;
}

#pictureOfTheDay {
    background: url("../img/03-04-1971-als-gladbach-das-gegnerische-tor-zum-einsturz-brachte.jpg") no-repeat center;
    background-size: cover;
}

#pictureOfTheDay h2, #pictureOfTheDay h3 {
    color: #fff;
}

/* admin.php
--------------------------------------------- */

.row-wrapper#adminpage {
    margin: 40px 0;
}

iframe {
    width: 840px;
    height: 600px;
    padding: 0;
    overflow: hidden;
    border: 2px solid #cdcdcd;
}

/* Ads
--------------------------------------------- */

.ad-wrapper {
    margin: 30px auto;
    position: relative;
}

.sticky-ad {
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    top: 0;
}

.sticky-ad-skyScr {
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    top: 16em;
}

.mobile-ad {
    position: static;
}

.adinfo {
    position: absolute;
    right: 1px;
    top: 1px;
    display: flex;
}

.adinfo > div {
    background-color: #ffffff;
    height: 15px;
    display: inline-block;
}

.adinfo svg {
    height: 15px;
    width: 15px;
    stroke: #00aecd;
    stroke-width: 1.25;
    display: block;
    margin: 0px;
}

.close-icon {
    cursor: pointer;
}


#billboard {
    max-width: 950px;
}

#skyscraper {
    max-width: 160px;
}

#hpa {
    max-width: 300px;
}

#superbanner {
    max-width: 728px;
}

#footer-superbanner {
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 950px)  {
    
    header {
        position: sticky;
        top: 0;
    }

    .sticky-ad {
        top: 80px;
    }

    #subheader {
        display: none;
    }
    
    #footer-superbanner {  
        left: 0;
        transform: none;
    }
}